#user-login,#register-page{
    margin: 40px auto;
    width: 50%
}

.fil{
    width: 93%;
}

.container-fluid{
    padding: 20px;
}
select {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    box-sizing: border-box;
    color: #3E3D40;
    display: block;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    min-width: 120px;
    padding: 0 20px 0 16px;
    outline: none;
}
label {
    position:relative
}
.language-selector__container {
}

.sel li{
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;

}
label{
    border: none!important;
}
.active{
    border-bottom: 3px solid #2d3748;
}
.arm,.ru{
    display: none;
}

